.jumbotron
  .container.text-center
    = image_tag "header_logo.png", alt: "PROTO TYPE - SHARE THE PROTOTYPE", height: '73px'
.filter-nav
  .container
    .row.clearfix
      %ul.nav.nav-pills.left
        %li#js-ranking{:role => "presentation"}
          = link_to 'Pupular', prototypes_ranking_index_path
        %li#js-newest{:role => "presentation"}
          = link_to 'Newest', prototypes_newest_index_path
      = button_tag 'View Tags', class: 'btn btn-default right'

.container.proto-list
  .row
    = render partial: 'prototypes/prototype', collection: @prototypes

.text-center
  = paginate @prototypes

:javascript
  $('#js-#{@type}').addClass('active')
