.container.proto-page
  %header.row.user-nav
    .col-md-6
      .media
        .media-left
          %a{:href => "#"}
            = image_tag @prototype.user.image.url, size: "64x64", class: "media-object"
        .media-body
          %h4#top-aligned-media.media-heading
            = @prototype.title
            - if @prototype.user == current_user
              = link_to 'Edit', edit_prototype_path(@prototype.id), class: 'btn btn-xs navbar-inverse btn-edit'
          .proto-user
            %a{:href => ""} by #{@user.username}
            %span.degree #{@user.occupation} #{@user.position}

    .col-md-6.text-right
      %button.btn.btn-default
        = image_tag("icon_heart.svg")
        Like
        %span.num 20
  .row
    .col-md-9
      = image_tag @prototype.images.main.first.name.url, class: 'img-responsive'
    .col-md-3
      %ul.proto-sub-list.list-group
        = render partial: 'sub_image', collection: @sub_images
  .row.proto-description
    .col-md-3
      %h4 Catch Copy
      %p
        = @prototype.catchcopy
    .col-md-6
      %h4 Concept
      %p
        = simple_format(@prototype.concept)
    .col-md-3
      %h4 Tag List
      -# %ul.proto-tag-list.list-inline
      -#   %li
      -#     %a{:href => "#", :class => "btn btn-default"} iPad
      -#   %li
      -#     %a{:href => "#", :class => "btn btn-default"} wireframe
  .row.proto-comments
    %h4.col-md-12
      Comments
      %span.num (#{@comments.count})
    .col-md-8#comments
      = render partial: 'prototypes/comment', collection: @comments
  .row.proto-comments
    .col-md-8
      .form-inline
        = form_for [@prototype, @comment], remote: true do |f|
          %h4 Write a comment
          .row
            .form-group.col-md-10
              = f.text_area :comment, placeholder: 'Your comment', class: 'form-control'
            .form-group.col-md-2
              = f.submit 'Comment', class: 'btn btn-primary'
